.home-container {
  display: flex;
  flex-direction: column;
}

.hero-container {
  max-width: 1280px;
  margin: 0 auto;
}

.noise-background {
  background: url(/src/assets/noise-background.png),
    radial-gradient(100% 215.42% at 0% 0%, #f5f5dc 0%, #f5f5dc 100%);
  background-position: center;
}
