.hero {
  &-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px 0px;
    max-width: 1280px;
    margin: 0 auto;

    &__img {
      width: 100%;
    }
  }

  &-title {
    font-size: 44px;
    margin: 0;
    font-weight: 600;
  }

  &-desription {
    font-size: 15px;
    line-height: 24px;
    font-weight: 400;
    margin: 0;
  }

  &-button {
    font-size: 17px;
    padding: 15px 45px 15px 45px;
    border-radius: 100px;
    border: 0;
    background-color: #ffffe6;
    width: fit-content;
    text-decoration: none;
    text-align: center;
    color: black;
    transition: 0.5s;

    &:hover {
      background-color: #fbfbd9;
    }
  }
}

.desription-container {
  display: flex;
  flex-direction: column;
  gap: 50px;
  flex-direction: column;
  gap: 50px;
}

.noise-background {
  background: url(/noise-background.png),
    radial-gradient(100% 215.42% at 0% 0%, #f5f5dc 0%, #f5f5dc 100%);
  background-position: center;
  width: 100%;
}
