.hero {
    &-section {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 30px 40px;

        &__img {
            width: 70%;
        }
    }

    &-title {
        font-size: 44px;
        margin: 0;
    }

    &-desription {
        font-size: 15px;
        line-height: 24px;
        font-weight: 400;
        margin: 0;
    }

    &-button {
        font-size: 17px;
        padding: 15px 45px 15px 45px;
        border-radius: 100px;
        border: 0;
        font-family: "Edu AU VIC WA NT Hand", cursive;
        font-optical-sizing: auto;
        font-style: normal;
        background-color: #FFFFF0;
        width: 50%;
    }
}

.desription-container {
    display: flex;
    flex-direction: column;
    gap: 50px;
}