.pets {
  &-title {
    font-size: 35px;
    font-weight: 600;
    margin: 0;
    padding-bottom: 40px;
  }

  &-container {
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.section-pets {
  background-color: #efefd7;
  padding: 80px 0px;
}

.button {
  &-details {
    border: 2px solid #fffff0;
    background-color: #fffff0;
    border-radius: 100px;
    padding: 15px 45px 15px 45px;
    font-size: 17px;
    font-family: 'Merienda', cursive;
  }
}
